<div class="mt-4 relative shadow-md">
    <%= render 'table',
        headers: [
        'Job Seeker ID', 'Name', 'Job ID', 'Job Title', 'Matching Skills', 'Matching Skills Percentage'
        ],
        content_id: "recommendations_table" do
    %>
        <%# <%= render partial: 'recommendation', collection: @recommendations, cached: true %1> %>

        <% @recommendations.each do |recommendation| %>
            <%= render 'recommendation', recommendation: %>
        <% end %>
    <% end %>
</div>

<%= render "load_more", load_more_path: root_path(format: :turbo_stream, **@next_page_params) %>
