<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= job_seeker.id %>
  </th>
  <td class="px-6 py-4">
    <%= job_seeker.name %>
  </td>
  <td class="px-6 py-4">
    <%= job_seeker.skills.compact_blank.join(", ") %>
  </td>
  <td class="px-6 py-4">
    <%= job_seeker.matching_skill_percent %>%
  </td>
</tr>
