<div class="mt-4 relative shadow-md">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <% headers.each do |header| %>
                    <th scope="col" class="bg-gray-50 dark:bg-gray-700 px-6 py-3 sticky" style="top: 3.25rem">
                        <%= header %>
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody id="<%= content_id %>">
            <%= yield %>
        </tbody>
    </table>
</div>
